<h2>Welcome!</h2>
<p>You’re receiving this email because you just subscribed to weather updates for <strong>{{city}}</strong>.</p>
<p>To confirm your subscription, please click the link below:</p>
<p>
    <a href="{{confirmUrl}}" target="_blank">
        Confirm Subscription
    </a>
</p>
<p>If you didn’t sign up, simply ignore this email.</p>
<hr>
<small>If the button doesn’t work, copy and paste this URL into your browser:</small>
<pre>{{confirmUrl}}</pre>